$mainblue: #3A75C4
$iconwidth: 35px
$iconPosMobile: 5.5%
$iconPosDesk: 4%
$iconPos1440p: 4%

// C S S  R E S E T 
html
	margin: 0
	padding: 0
body
	margin: 0
	padding: 0
	font-family: 'Lato', sans-serif
// C S S  R E S E T 

// P O S I T I O N 
header
	text-align: center
	width: 100%
	margin-top: 50px
	margin-bottom: 25px

.input-box
	margin: auto 0
main
	text-align: center
// P O S I T I O N 

// H I D E  D I V 
#form-divreg
	display: none
// H I D E  D I V 

// I N P U T  S T Y L E 
.form-input
	width: 45%
	height: 50px
	margin-bottom: 25px

	font-size: 27px
	text-align: center
	border-radius: 50px
	border: 2px solid $mainblue

.form-input:focus
	outline: none

.form-input:active
	outline: none
// I N P U T  S T Y L E 

//  I C O N S 
.fa-lock
	width: 25px
	margin-top: 15px
	margin-left: 25px
	display: block
	position: absolute

	color: $mainblue
	font-size: 25px !important

.fa-envelope
	width: 25px
	margin-top: 15px
	margin-left: 25px
	display: block
	position: absolute

	color: $mainblue
	font-size: 25px !important

.fa-user
	width: 25px
	margin-top: 15px
	margin-left: 25px
	display: block
	position: absolute

	color: $mainblue
	font-size: 25px !important

.fa-sign
	color: #FFFFFF
	font-size: 30px !important
	width: 25px
.fa-user-plus
	color: #FFFFFF
	font-size: 30px !important
	width: 25px
// I C O N S

// B U T T O N  S T Y L E 
#log-button
	width: 30%
	height: 60px
	padding: 0 
	
	color: #FFFFFF
	font-size: 32px
	text-align: center
	border-radius: 35px
	background: $mainblue
	border: 2px solid $mainblue

#create-button
	width: 30%
	height: 60px
	padding: 0 

	color: #FFFFFF
	font-size: 32px
	border-radius: 35px
	text-align: center
	background: $mainblue
	border: 2px solid $mainblue


#button-signup
	height: 60px
	width: 60px
	margin-left: 15px
	padding: 0 
	border-radius: 50%

	font-size: 30px
	color: #FFFFFF
	background: $mainblue
	border: 2px solid $mainblue

#button-signin
	height: 60px
	width: 60px
	margin-left: 15px
	padding: 0 
	border-radius: 50%

	font-size: 30px
	color: #FFFFFF
	background: $mainblue
	border: 2px solid $mainblue


// B U T T O N  S T Y L E 

// F O O T E R  A N D  N A V I 
footer
	text-align: center
	margin-top: 25px
	margin-bottom: 25px

.footer-navigation ul
	list-style: none
	padding: 0

.footer-navigation li a
	color: $mainblue
	text-decoration: none
// F O O T E R  A N D  N A V I 









